{% extends 'base.html' %}
{% block title %}
<title>设置页面</title>
{% endblock %}

{% block content %}
    {% from "_formheplers.html" import render_field %}
    <form method="post" action="">
        <dl>
            <hr>
            {{ form.del_pic.label }}
            {{ form.del_pic }}
            <hr>
            {{ form.index_pic.label }}
            {{ form.index_pic }}
            <hr>
            {{ form.active_path.label }}
            {{ form.active_path }}
            <hr>
            {{ form.pic_type.label }}
            {{ form.pic_type }}
            <hr>
        </dl>
        <p><input type="submit" value="提交"></p>
    </form>
{% endblock %}
