{% extends 'base.html' %}
{% block title %}<title>加type</title>{% endblock %}
{% block content %}
<script>
    $(function(){
        $('.label-info').click(function(){
            $(this).attr('class', 'label label-success');
        });

        $('#del_type').click(function(){
            var del_type_ids = new Array();
            $('.label-success').each(function(){
                var del_type_id = $(this).attr('type_id');
                del_type_ids.push(del_type_id);
            });
            $.ajax({
                type:'post',
                url:window.location.href,
                dataType:'json',
                contentType:'application/json',
                data:JSON.stringify({2: del_type_ids})
            });
        });

        $('#add_type').click(function(){
            $('#add_form').removeAttr('hidden');
        })
    })
</script>
<div>
    <label>可供选择：</label>
    {% for type in types %}
            <span class="label label-info" type_id={{type.id}}>{{ type.name }}</span>
    {% endfor %}
    <button id="add_type"><span class="glyphicon glyphicon-plus-sign"></span></button>
    <button id="del_type"><span class="glyphicon glyphicon-minus-sign"></span></button>
    <div id="add_form" hidden="">
        <form action="/addtype" method="post">
        <div class="form-group">
            <label>类型：</label>
            <input type="text" class="form-control" placeholder="请写入类型名" name="type">
        </div>
        <div class="form-group">
            <input type="submit" class="btn btn-lg">
        </div>
    </form>
    </div>
</div>
{% endblock %}